.profile {
  margin: 74px auto 0;
}

.profile__greeting {
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-align: center;
  margin: 0 0 123px -13px;
}

.profile__form {
  display: flex;
  flex-direction: column;
  position: relative;
}

.profile__label {
  display: flex;
  justify-content: space-between;
  font-size: 11px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.profile__input {
  background-color: #fff;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 70%;
  text-align: end;
  border: 0;
  padding: 0;
  outline: 0;
}

.profile__input:focus {
  outline: rgb(128 128 128 / 25%) solid thin;
  outline-offset: 3px;
  border-radius: 5px;
}

.profile__divider {
  width: 410px;
  height: 1px;
  background-color: #E8E8E8;
  margin: 16px auto;
}

.profile__change-btn {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border: 0;
  background-color: white;
  margin-top: 220px;
  cursor: pointer;
}

.profile__change-btn_active {
  color: rgb(8, 202, 105);
  cursor: pointer;
}

.profile__exit {
  color: #ee3465;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  border: 0;
  background-color: white;
  margin: 15px auto 0;
  display: block;
  transition: opacity 0.2s;
  cursor: pointer;
}

.profile__exit:hover {
  opacity: 0.5;
}

.profile__save-changes {
  width: 100%;
  height: 45px;
  color: white;
  background-color: rgba(43, 224, 128, 1);
  border: 0;
  border-radius: 3px;
  margin-top: 220px;
  transition: opacity 0.2s;
  cursor: pointer;
}

.profile__save-changes:disabled {
  background-color: rgb(170, 170, 170);
}

.profile__save-changes:hover {
  opacity: 0.7;
}

.profile__error-container {
  height: 20px;
  text-align: center;
  position: absolute;
  top: 220px;
  left: 90px;
}

.profile__error {
  color: #ee3465;
  font-size: 11px;
  margin: 0;
}

@media screen and (max-width: 767px) {
  .profile__greeting {
    margin-bottom: 80px;
  }

  .profile__input {
    margin-left: 78px;
    width: 150px;
  }

  .profile__change-btn {
    margin-top: 377px;
  }

  .profile__divider {
    width: 240px;
  }
}
